<div class="langage-dropdown" (click)="toggleLangage()" *transloco="let t">
    <div class="selected-option my-0.5 " [ngClass]="{' bg-accent-100 ':isLangageOpen,' bg-accent-50 ':!isLangageOpen}">
        <div class="w-full flex space-x-1 items-center  text-sm">
            <img class="w-6 mr-1" [src]="'assets/images/flags/' + flagCodes[selected.id]?.toUpperCase() + '.svg'"
                [alt]="'Flag image for ' + selected.id">
                {{ t(""+selected?.label)}}
        </div>
    </div>
    <div class="options" [ngClass]="{'visible':isLangageOpen,'hidden':!isLangageOpen}">
        <div class="option" *ngFor="let item of languages" [class.selected]="item.id==selected?.id" (click)="onSelectedLangage(item.id, $event)" >
            <div class="w-full flex space-x-1  text-sm p-3">
                <img class="w-6 mr-1" [src]="'assets/images/flags/' + flagCodes[item.id]?.toUpperCase() + '.svg'"
                    [alt]="'Flag image for ' + item.id">
                    {{t(""+item?.label)}}
            </div>
        </div>
    </div>
</div>