<div class="w-full my-24" *transloco="let t">
  <app-card
    [title]="t('SignIn')"
    [widthClass]="'w-5/12 h-fit mx-auto '"
    [boxShadowClass]="'shadow shadow-lg'"
    [lang]="true"
  >
    <div langue>
      <app-languages (showLoading)="handleLoading($event)"></app-languages>
    </div>
    <form [formGroup]="signInForms" class="w-1/2 mx-auto p-2">
      <!-- Email field -->
      <mat-form-field class="w-full" [color]="'primary'">
        <mat-label>Email</mat-label>
        <input id="email" matInput [formControlName]="'email'" />
        <mat-icon class="icon-size-5" [svgIcon]="'scratch-icon:new'" matSuffix></mat-icon>
        <mat-error *ngIf="signInForms.get('email')!.hasError('required')">
          Email is required
        </mat-error>
      </mat-form-field>

      <!-- Password field -->
      <mat-form-field class="w-full" [color]="'primary'">
        <mat-label>{{ t('Password') }}</mat-label>
        <input
          id="password"
          matInput
          type="password"
          [formControlName]="'password'"
          #passwordField
        />
        <button
          mat-icon-button
          type="button"
          (click)="
            passwordField.type === 'password'
              ? (passwordField.type = 'text')
              : (passwordField.type = 'password')
          "
          matSuffix
        >
          <mat-icon
            class="icon-size-5"
            *ngIf="passwordField.type === 'password'"
            [svgIcon]="'scratch-icon:new'"
          ></mat-icon>
          <mat-icon
            class="icon-size-5"
            *ngIf="passwordField.type === 'text'"
            [svgIcon]="'scratch-icon:new'"
          ></mat-icon>
        </button>
        <mat-error *ngIf="signInForms.get('password')!.hasError('required')">
          Password is required
        </mat-error>
      </mat-form-field>

      <a
        tabindex="0"
        (keydown.space)="forgotPassword()"
        (click)="forgotPassword()"
        class="mt-2 text-gray-400 cursor-pointer hover:text-gray-900 hover:underline"
        >{{ t('ForgotPassword') }}</a
      >

      <!-- Submit button -->
      <div class="w-full flex mt-2 space-x-1">
        <button
          type="button"
          class="w-full px-3 py-2 text-gray-500 border-2 border-primary hover:text-white hover:bg-primary"
          mat-stroked-button
          (click)="signUp()"
        >
          {{ t('SignUp') }}
        </button>
        <button
          type="button"
          class="w-full px-3 py-2 text-white bg-primary"
          mat-raised-button
          [disabled]="signInForms.disabled"
          (click)="signIn()"
        >
          <span *ngIf="!signInForms.disabled">
            {{ t('SignIn') }}
          </span>
          <mat-progress-spinner
            *ngIf="signInForms.disabled"
            [diameter]="24"
            [mode]="'indeterminate'"
          ></mat-progress-spinner>
        </button>
      </div>
    </form>
  </app-card>
  <div class="w-1/2 mx-auto mt-3 flex flex-col items-center">
    <p class="">&COPY;Copyright Rojo, 2025</p>
  </div>
</div>
